@model DoctorMVCModel.DoctorModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "DoctorDetails";
}

<h1>DoctorDetails</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DoctorDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*@<label asp-for="UserID" class="control-label"></label>*@
                <input asp-for="UserID" class="form-control" value=@Context.Session.GetInt32("UserID") readonly type="hidden" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePic" class="control-label"></label>
                <input asp-for="ProfilePic" class="form-control" />
                <span asp-validation-for="ProfilePic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialisation" class="control-label"></label>
                <input asp-for="Specialisation" class="form-control" />
                <span asp-validation-for="Specialisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearsOfExperience" class="control-label"></label>
                <input asp-for="YearsOfExperience" class="form-control" />
                <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            @*@<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTrash" /> @Html.DisplayNameFor(model => model.IsTrash)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
